$gridstack-columns: 24 !default;
$horizontal_padding: 10px !default;
$vertical_padding: 20px !default;
$animation_speed: .3s !default;

@mixin vendor($property, $value...){
    -webkit-#{$property}:$value;
       -moz-#{$property}:$value;
        -ms-#{$property}:$value;
         -o-#{$property}:$value;
            #{$property}:$value;
}

:root .grid-stack-item > .ui-resizable-handle { filter: none; }

.grid-stack {
    position: relative;

    &.grid-stack-rtl {
        direction: ltr;

        > .grid-stack-item {
            direction: rtl;
        }
    }

    .grid-stack-placeholder > .placeholder-content {
        border: 1px dashed lightgray;
        margin: 0;
        position: absolute;
        top: 0;
        left: $horizontal_padding / 2;
        right: $horizontal_padding / 2;
        bottom: 0;
        width: auto;
        text-align: center;
    }

    > .grid-stack-item {
        min-width: 100% / $gridstack-columns;
        position: absolute;
        padding: 0;

        > .grid-stack-item-content {
            margin: 0;
            position: absolute;
            top: 0;
            left: $horizontal_padding / 2;
            right: $horizontal_padding / 2;
            bottom: 0;
            width: auto;
            overflow-x: hidden;
            overflow-y: auto;
        }

        > .ui-resizable-handle {
            position: absolute;
            font-size: 0.1px;
            display: block;
            -ms-touch-action: none;
            touch-action: none;
        }

        &.ui-resizable-disabled > .ui-resizable-handle,
        &.ui-resizable-autohide > .ui-resizable-handle { display: none; }

        &.ui-draggable-dragging,
        &.ui-resizable-resizing {
            z-index: 100;

            > .grid-stack-item-content,
            > .grid-stack-item-content {
                box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.2);
                opacity: 0.8;
            }
        }

        > .ui-resizable-se,
        > .ui-resizable-sw {
            background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+DQo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyINCiAgIHZlcnNpb249IjEuMSINCiAgIHdpZHRoPSIxNnB4Ig0KICAgaGVpZ2h0PSIxNnB4Ig0KICAgdmlld0JveD0iMCAwIDUxMS42MjYgNTExLjYyNyIgPg0KICAgICA8Zz4NCiAgICAgIDxwYXRoIGQ9Im0gMzQ1LjAwMTkyLDQwMS45OTQgLTUyLjY0ODkyLDAgMCwtMjkyLjM1OCA1NC4xODE4NiwwIEwgMjU1LjgxMywwIGwgLTkwLjcxMzg2LDEwOS42MzYgNTQuMTczODYsMCAwLDI5Mi4zNTggLTU0LjE3MDg2LDAgYyA0Mi40ODg0Niw1NS4xODM2IDAsMCA5MC43MTQ4NiwxMDkuNjM0IDg5LjE4NDkyLC0xMDkuNjM0IDAsMCA4OS4xODQ5MiwtMTA5LjYzNCB6IiBzdHlsZT0iZmlsbDojNjY2NjY2IiAvPg0KICAgICA8L2c+DQo8L3N2Zz4=);
            background-repeat: no-repeat;
            background-position: center;
            @include vendor(transform, rotate(45deg));
        }

        > .ui-resizable-se {
            @include vendor(transform, rotate(-45deg));
        }


        > .ui-resizable-nw { cursor: nw-resize; width: 20px; height: 20px; left: 4px; top: 0; }
        > .ui-resizable-n  { cursor: n-resize;  height: 10px; top: 0; left: 0; right: 0; }
        > .ui-resizable-ne { cursor: ne-resize; width: 20px; height: 20px; right: 10px; top: 0; }
        > .ui-resizable-e  { cursor: e-resize;  width: 10px; right: $horizontal_padding / 2; top: 0; bottom: 0; }
        > .ui-resizable-se { cursor: se-resize; width: 20px; height: 20px; right: 4px; bottom: 0; }
        > .ui-resizable-s  { cursor: s-resize;  height: 10px; left: 0; bottom: 0; right: 0; }
        > .ui-resizable-sw { cursor: sw-resize; width: 20px; height: 20px; left: 4px; bottom: 0; }
        > .ui-resizable-w  { cursor: w-resize;  width: 10px; left: $horizontal_padding / 2; top: 0; bottom: 0; }

        &.ui-draggable-dragging {
            &> .ui-resizable-handle {
                display: none !important;
            }
        }

        @for $i from 1 through $gridstack-columns {
            &[data-gs-width='#{$i}'] { width: (100% / $gridstack-columns) * $i; }
            &[data-gs-x='#{$i}'] { left: (100% / $gridstack-columns) * $i; }
            &[data-gs-min-width='#{$i}'] { min-width: (100% / $gridstack-columns) * $i; }
            &[data-gs-max-width='#{$i}'] { max-width: (100% / $gridstack-columns) * $i; }
        }
    }

    &.grid-stack-animate,
    &.grid-stack-animate .grid-stack-item {
        @include vendor(transition, left $animation_speed, top $animation_speed, height $animation_speed, width $animation_speed);
    }

    &.grid-stack-animate .grid-stack-item.ui-draggable-dragging,
    &.grid-stack-animate .grid-stack-item.ui-resizable-resizing,
    &.grid-stack-animate .grid-stack-item.grid-stack-placeholder{
        @include vendor(transition, left .0s, top .0s, height .0s, width .0s);
    }
}

@media (max-width: 768px) {
    .grid-stack-item {
        position: relative !important;
        width: auto !important;
        left: 0 !important;
        top: auto !important;
        margin-bottom: $vertical_padding;

        .ui-resizable-handle { display: none; }
    }

    .grid-stack { height: auto !important; }
}
